/*!
 * INICIO CSS personalizados
 */

.fondo-titulo{
	background-color: #232928;
	color: azure;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top: 3%; 
	margin-bottom: 3%;
}

.fondo-titulo-productos{
	background-color: #232928;
	color: azure;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-bottom: 3%;
}

.fondo-titulo-registro{
	background-color: #232928;
	color: azure;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-bottom: 3%;
}


.fondo-footer{
	background-color: #232928;
	color: azure;
	padding-top: 0.5%;
}

.fondo-barranav{
  background-color: #153B5E;
}


/*!
 * INICIO registro
 */

.form-registro {
    width: 80%;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 2%;
	  margin-bottom: 6%;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .caja-texto {
    width: 100%;
    background: #7BC2E5;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
  }
  ::placeholder { color: black; }
  
  .boton-agregar{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

  .boton-limpiar{
    width: 100%;
    background: red;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

  .boton:hover {
    width: 100%;
    background: #122F6E;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

/*!
 * FIN registro
 */




/*!
 * FIN CSS personalizados
 */
