/*!
 * INICIO CSS personalizados
 */

.fondo-titulo{
	background-color: #232928;
	color: azure;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top: 3%; 
	margin-bottom: 3%;
}

.fondo-titulo-productos{
	background-color: #232928;
	color: azure;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-bottom: 3%;
}

.fondo-titulo-registro{
	background-color: #232928;
	color: azure;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-bottom: 3%;
}


.fondo-footer1{
	background-color: #737373;
	color: azure;
	padding-top: 0.5%;
}

.fondo-barranav{
  background-color: #153B5E;
}

body{
  margin-top: 110px;
}

/*!
 * INICIO registro
 */

.form-registro {
    width: 80%;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 2%;
	  margin-bottom: 6%;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .caja-texto {
    width: 100%;
    background: #7BC2E5;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
  }
  ::placeholder { color: black; }
  
  .boton-agregar{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

  .boton-limpiar{
    width: 100%;
    background: red;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

  .boton:hover {
    width: 100%;
    background: #122F6E;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

/*!
 * FIN registro
 */



/*barra nueva*/
.centrar {
  width: 1280px;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #153B5E;
}

header #logo {
  float: left;
  margin-top: 10px;
}

header nav {
  float: left;
  margin-top: 30px;
}





/*!
 * iconos footer
 */





article {
  position: relative;
  overflow: hidden;
  padding: 20px;
  background: rgba(0,0,0,0.7);
  margin: 50px auto;
  width: 70%;
  border: 2px solid #FFA800;
  border-radius: 10px;
  box-shadow: 0 0 4px #FFA800;
  color: #FFA800;
  text-align: center;
}

#mapa {
  height: 400px;
  padding: 0;
  margin-bottom: 20px;
}
/*!
 * FIN CSS personalizados
 */






#caja1, #caja2 {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 20%;
  width: 300px;
  height: 300px;
}

#caja1 {
  background-color: rgba(0,0,0,0.767);
  color:azure;    
}
#caja2 {
  background-color: darkslateblue;
  color:azure;    
}