{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- TITULO DEL SITIO WEB -->
    <title>Tienda</title>
    <!-- Bootstrap -->
    <link href="{% static '/core/css/bootstrap-4.3.1.css'%}" rel="stylesheet">
	  <!-- CSS -->
    <link href="{% static '/core/css/style.css'%}" rel="stylesheet">
	  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static '/core/js/jquery-3.3.1.min.js'%}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static '/core/js/popper.min.js'%}"></script>
    <script src="{% static '/core/js/bootstrap-4.3.1.js'%}"></script>
    
	  
  </head>
  <body>
	<!--------------------------------------------------- NAV BAR --------------------------------------------->  
    <nav class="navbar navbar-expand-lg navbar-dark fondo-barranav">
      <div class="container">
		<img class="navbar-brand" id="logo" src="{% static '/core/img/Logo.png'%}" width="10%"></img>
		
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
		
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">INICIO </a>
            </li>
			      <li class="nav-item">
              <a class="nav-link" href="{% url 'donaciones' %}">DONACIONES</a>
            </li>
			      <li class="nav-item">
              <a class="nav-link" href="#">DESPACHO</a>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PRODUCTOS <span class="sr-only">(current)</span></a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">ARBUSTOS</a>
                <a class="dropdown-item" href="#">FLORES</a>
                <a class="dropdown-item" href="#">MACETEROS</a>
				        <a class="dropdown-item" href="#">TIERRA DE HOJAS</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            {% if user.is_authenticated %}
            <a style="color: white">Hola {{ user.username }} </a> &nbsp;&nbsp; <a href="{% url 'cerrar_sesion' %}" style="color: white">Cerrar Sesión </a>
          
            {% else %}

            <a href="{% url 'logear' %}" style="color: white">Login </a> &nbsp; <a style="color: white"> | </a> &nbsp; <a href="{% url 'Autenticacion' %}" style="color: white">Registrarse </a>
            {% endif %}
          </form>
        </div>
      </div>
    </nav>
	<!--------------------------------------------------- NAV BAR --------------------------------------------->  
	
	<!------------------------------------------------- Titulo Productos ------------------------------------------->     
    <h2 class="text-center encabezados" id="productos">NUESTROS PRODUCTOS EN VENTA</h2>
	<!------------------------------------------------- Titulo Productos -------------------------------------------> 
	<br>
    <div class="container">
      <div class="row" style="margin-top: 40px">
        {% for producto in productos%}
        <div class="col-lg-6">
          <ul class="list-unstyled">
            <li class="media">
              <img src="{{producto.imagen.url}}" class="mr-3 img-productos" >
              <div class="media-body">
                <h5 class="mt-0 mb-1">{{producto.nombre}}</h5>
                {{producto.descripcion}}.
                <h5>$ {{producto.precio}}</h5>
             
                  <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar al carro</a>
                
              </div>
            </li>
          </ul>
        </div>
        {% endfor %}
      </div>
      <div class="row" style="margin-top: 40px">
        {% include "carro/widget.html"%}
      </div>
    </div>
	
	
	<br><br>
	
	
	<!------------------------------------------------------ FOOTER ---------------------------------------------------->
    <footer class="text-center fondo-footer1">
      <div class="container">
		  
	  	  <div class="row">
          <div class="col-3">
            <img src="{% static '/core/img/correo.png'%}" width="20%" style="padding-top: 10px; padding-bottom: 13px;"><p>totorachile@gmail.com</p>
          </div>
          <div class="col-3">
            <img src="{% static '/core/img/Instagram.png'%}" width="15%" style="padding-top: 10px; padding-bottom: 10px;"><p>Siguenos en @TotoraChile</p>
          </div>
          <div class="col-3">
            <img src="{% static '/core/img/Facebook.png'%}" width="23%"><p>Siguenos en TotoraChile</p>
          </div> 
          <div class="col-3">
            <img src="{% static '/core/img/wsp.png'%}" width="23%"><p>Contactanos al +56 9 5682 4653</p>
          </div>
        </div>
		  
        <div class="row">
          <div class="col-12">
            <p style="color: white">Copyright ©. Todos los derechos reservados.</p>
          </div>
        </div>
		  
      </div>
    </footer>
	<!------------------------------------------------------ FOOTER ---------------------------------------------------->
	  
    
  </body>
</html>