{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <!-- TITULO DEL SITIO WEB -->
    <title>Registro de Usuarios</title>
    <!-- Bootstrap -->
    <link href="{% static '/core/css/bootstrap-4.3.1.css'%}" rel="stylesheet">
	  <!-- CSS -->
    <link href="{% static '/core/css/style.css'%}" rel="stylesheet">
	  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static '/core/js/jquery-3.3.1.min.js'%}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static '/core/js/popper.min.js'%}"></script>
    <script src="{% static '/core/js/bootstrap-4.3.1.js'%}"></script>
	  
  </head>
  <body>
	<!--------------------------------------------------- NAV BAR --------------------------------------------->  
    <nav class="navbar navbar-expand-lg navbar-dark fondo-barranav">
      <div class="container">
		<img class="navbar-brand" id="logo" src="{% static '/core/img/Logo.png'%}" width="10%"></img>
		
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
		
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">INICIO </a>
            </li>
			      <li class="nav-item">
              <a class="nav-link" href="{% url 'donaciones' %}">DONACIONES</a>
            </li>
			      <li class="nav-item">
              <a class="nav-link" href="#">DESPACHO</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PRODUCTOS</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'tienda' %}">ARBUSTOS</a>
                <a class="dropdown-item" href="{% url 'tienda' %}">FLORES</a>
                <a class="dropdown-item" href="{% url 'tienda' %}">MACETEROS</a>
				        <a class="dropdown-item" href="{% url 'tienda' %}">TIERRA DE HOJAS</a>
              </div>
            </li>
          </ul>
          
          <form class="form-inline my-2 my-lg-0">
            {% if user.is_authenticated %}
            <a style="color: white">Hola {{ user.username }} </a> &nbsp;&nbsp; <a href="{% url 'cerrar_sesion' %}" style="color: white">Cerrar Sesión </a>
          
            {% else %}

            <a href="{% url 'logear' %}" style="color: white">Login </a> &nbsp; <a style="color: white"> | </a> &nbsp; <a href="{% url 'Autenticacion' %}" style="color: white">Registrarse </a>
            {% endif %}
          </form>
        </div>
      </div>
    </nav>
	<!--------------------------------------------------- NAV BAR --------------------------------------------->  
	
	
	<!------------------------------------------------- Titulo Registro ------------------------------------------->     
    <h2 class="text-center encabezados">FORMULARIO DE REGISTRO</h2>
	<!------------------------------------------------- Titulo Registro -------------------------------------------> 
	
    <div class="container">
      <div class="row">
		  
        <div class="col-lg-12">
          <ul class="list-unstyled">
            <li class="media">
              <img class="mr-3" src="{% static '/core/img/registro.png'%}" style="width: 30%">
              <div class="media-body" style="padding-top: 10%">
                <h5 class="mt-0 mb-1">¿Desea inscribirse como cliente de Totora Chile?</h5>
                Complete los campos en nuestro formulario de registro para poder acceder a la compra de todos nuestros productos de la mejor calidad.
              </div>
            </li>
          </ul>
        </div>
		  
      </div>
    </div>
	
	
	<div class="container">
		<form class="form-horizontal; form-registro" action="" method="post"> 
          {% csrf_token %}
          {{ form|crispy }}
		  <div class="row">
			    <br><br>
				<div class="col-lg-12" align="center">
					 <input class="btn btn-success" type="submit" value="Registrarse">
				</div>
		  </div>
		</form>
    </div>
		
	
	
	<br><br> 
	
	
	<!------------------------------------------------------ FOOTER ---------------------------------------------------->
    <footer class="text-center fondo-footer1">
      <div class="container">
		  
	  	  <div class="row">
          <div class="col-3">
            <img src="{% static '/core/img/correo.png'%}" width="20%" style="padding-top: 10px; padding-bottom: 13px;"><p>totorachile@gmail.com</p>
          </div>
          <div class="col-3">
            <img src="{% static '/core/img/Instagram.png'%}" width="15%" style="padding-top: 10px; padding-bottom: 10px;"><p>Siguenos en @TotoraChile</p>
          </div>
          <div class="col-3">
            <img src="{% static '/core/img/Facebook.png'%}" width="23%"><p>Siguenos en TotoraChile</p>
          </div> 
          <div class="col-3">
            <img src="{% static '/core/img/wsp.png'%}" width="23%"><p>Contactanos al +56 9 5682 4653</p>
          </div>
        </div>
		  
        <div class="row">
          <div class="col-12">
            <p style="color: white">Copyright ©. Todos los derechos reservados.</p>
          </div>
        </div>
		  
      </div>
    </footer>
	<!------------------------------------------------------ FOOTER ---------------------------------------------------->
  </body>
</html>